.add-new-counter input {
    height: 50px;
    font-size: 18px;
    padding: 5px;
}

.add-new-counter button {
    margin-left: 15px;
    height: 50px;
    padding: 7px 14px;
    cursor: pointer;
    font-size: 18px;
}